.principal {
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "navbar"
    "filtros"
    "produtos"
    "detaques"
    "footer";
    row-gap: 1rem;
    align-items: center;
}

.navbar {
    grid-area: navbar;
}
.filtros {
    grid-area: filtros;
}
.produtos {
    grid-area: produtos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.destaques {
    grid-area: destaques;
}
.footer {
    grid-area: footer;
}


.logo {
    border-radius: 50%;
    width: 60px;
}

.img-cerva {
    width: 100px;
}

.filtros_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filtros_card {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 237, 218);
    border-radius: 10%;
    align-content: center;
    text-align: center;
}
.filtros_card:hover{
    background-color: rgb(253, 207, 137);
}
.card {
    flex: 1 1 14rem;
    max-width: 14rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}