body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(229, 230, 228);
}
.principal {
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "navbar"
    "filtros"
    "produtos"
    "detaques"
    "footer";
    row-gap: 1rem;
    align-items: center;
}

.navbar {
    grid-area: navbar;
}
.filtros {
    grid-area: filtros;
}
.produtos {
    grid-area: produtos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.destaques {
    grid-area: destaques;
}
.footer {
    grid-area: footer;
}


.logo {
    border-radius: 50%;
    width: 60px;
}

.img-card {
    height: 45%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.filtros_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filtros_card {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 237, 218);
    border-radius: 10%;
    align-content: center;
    text-align: center;
}
.filtros_card:hover{
    background-color: rgb(253, 207, 137);
}
.card {
    flex: 1 1 14rem;
    max-width: 16rem; 
    max-height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(110, 110, 110);
    border-radius: 20px;
    border: 0;
    margin: 1.5rem;
}

.card-title {
    text-align: center;
    margin: 0.4rem 1rem;
}

.card-body {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid rgb(206, 198, 198);
}

.card-button {
    height: 36px;
    width: 36px;
    border-radius: 6px;
    background-color: rgb(13, 63, 162);
    color: rgb(234, 236, 237);
    margin: 1rem;
    border: 0;
    box-shadow: 1px 1.5px 5px rgb(163, 167, 179);
}