body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a5483;
}

a:hover {
    text-decoration: none;
}
a:visited {
    color: #f8f8ec;    
}

.principal {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "cabecalho"
    "produtos"
    "detaques"
    "footer";
    row-gap: 1rem;
    align-items: center;
}

.cabecalho {
    grid-area: cabecalho;
    width: 100vw;
}

.navbar {
    background-color: #aedd2b;
    max-height: 7vh;
    display: flex;
    justify-content: flex-end;
}

.btn__basico {
    width: 120px;
    height: 30px;
    background-color: #0a5483;
    color: #f8f8ec;
    border: 0;
    border-radius: 8px;
}

.carrinho {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    align-items: center;
    margin-right: 2rem;
}

.carrinho .btn__basico {
    margin-left: 1.5rem;
}

.carrinho-img {
    margin-left: 2rem;
}
.carrinho h5 {
    margin: 0 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid black;
}


.produtos {
    grid-area: produtos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.destaques {
    grid-area: destaques;
}
.footer {
    grid-area: footer;
}

.logo {
    border-radius: 50%;
    max-width: 10rem;
    margin: 0.5rem 2rem;
}

.img-card {
    height: 45%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.titulo {
    color:#f8f8ec;
    font-family: "Berkshire Swash", serif;
    font-size: 3rem;
}
.filtros__lista {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1.25rem;
    background-color:#066699;
    align-items: center;
    justify-content: space-evenly;
}
.container__filtros_card {
    display: flex;
    justify-content: space-between;
}
.filtros_card {
    margin: 1rem;
    width: 120px;
    height: 120px;
    background-color:#f8f8ec;
    border-radius: 10%;
    align-content: center;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.7rem;
    font-family: "Berkshire Swash", serif;
} 
.filtros_card img {
    margin-top: 0.5rem;
    width: 70px;
}

.filtros_card:hover{
    background-color: #aedd2b;
}
.card {
    flex: 1 1 14rem;
    max-width: 16rem; 
    max-height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px #020202;
    border-radius: 20px;
    border: 0;
    margin: 1.5rem;
}

.card-title {
    text-align: center;
    margin: 0.4rem 1rem;
}

.card-body {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid rgb(206, 198, 198);
}

.card-button {
    height: 36px;
    width: 36px;
    border-radius: 6px;
    background-color: #066699;
    color: rgb(234, 236, 237);
    margin: 1rem;
    border: 0;
    box-shadow: 1px 1.5px 5px rgb(163, 167, 179);
}

.card-button:hover {
    background-color: #0a5483;
}

/* Estilos específicos para a página de configuração */
.adm-container {
    padding-top: 20px;
  }
  
  .adm-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .adm-table-body {
    text-align: center;
  }
  
  .table-striped thead th {
    background-color: #e9ecef;
    text-align: center;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #e9ecef;
  }
  
  .adm-new-product-row {
    background-color: #dff0d8;
  }
  
  .adm-new-product-row td {
    padding: 8px;
  }
  
  .adm-new-product-row select, 
  .adm-new-product-row input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .adm-new-product-actions {
    text-align: right;
  }

  .adm-container h1 {
    margin-bottom: 2rem;
    color:#e9ecef;
    font-size: 1.75rem;
}

#adicionarProdutoBtn {
    margin-bottom: 2rem;
}

.navbar-adm {
    background-color: #aedd2b;
    max-height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-adm {
    border-radius: 50%;
    max-width: 3rem;
    margin: 0.5rem 3rem 0.5rem 10rem;

}

.titulo-adm {
    color:#0c0f4d;
    font-family: "Berkshire Swash", serif;
    font-size: 1.25rem;
}

.selecao {
   max-width: 15rem;
}

  
  /* Página do carrinho */
.carrinho-interno {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    align-items: center;
    margin-right: 3.5rem;
    margin-left: 10rem;
}

.navbar-carrinho {
    background-color: #aedd2b;
    max-height: 5rem;
    display: flex;
    justify-content: flex-end;
}

.logo-carrinho {
    border-radius: 50%;
    max-width: 3rem;
    margin: 0.5rem 46rem 0.5rem 2.5rem;
}

  .input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group input {
  width: 50px;
  text-align: center;
}

.btn-voltar {
    width: 90px;
    height: 30px;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
}

.carrinho__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.table {
    width: 70%;
    font-size: 1.1rem;
}

.total-container {
    align-self: flex-end;
    margin-right: 15rem;
    color: #dff0d8;
    font-size: 1.15rem;
}

.carrinho-de-compras {
    margin: 2rem 2.5rem;
    color: #e9ecef;
    font-family: "Berkshire Swash", serif;
    font-size: 2rem;
}

/*modal simulador*/

#simulador {
    margin-right: 20px;
    position: fixed;
    border-radius: 30px;
    right: 0;
    background: linear-gradient(90deg, #aedd2b 20%, #47b6f1 70%, rgb(3, 53, 67) 100%);
    width: 200px;
    height: 50px;
    font-size: 0.95rem;
    color: #dff0d8;
    box-shadow: 10px 10px 52px 16px rgba(49,156,143,0.46);
-webkit-box-shadow: 10px 10px 52px 16px rgba(49,156,143,0.46);
-moz-box-shadow: 10px 10px 52px 16px rgba(49,156,143,0.46);
    border: 3px solid #f8f8ec;
    display: block;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 5rem;
    margin-left: 28rem;
    width: 35%;
    height: 65%;
    overflow: auto;
    background-color:#f8f8f1;
    padding: 1.5rem;
    color: #0a5483;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 5px #02020272;
}

.modal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-fechar {
    border-radius: 5px;
    color: #dff0d8;
    background-color: #066699;
    width: 25px;
    height: 25px;
    border: 0;
    align-self: flex-end;
}
.modal__container h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
}

.modal__container label {
    margin: 0.25rem 0 0.5rem 0;
}
/* CEP*/
.resultado-simulacao {
    flex: 1;
    margin: 10px 0px 10px 0px;
    width: 33%;
    
  }
.resultado-texto{
    background-color:rgb(206, 198, 198) ;
    padding: 10px;
}

@media (max-width: 600px) {
    .filtros__lista{
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
    }
    .logo {
        width: 20vw;
    }
    .titulo {
        font-size: 2rem;
    }
    .filtros_card img {
        width: 45px;
    }
    .filtros_card p {
        display: none;
    }

    .filtros_card {
        width: 55px;
        height: 55px;
        padding: 0;
        margin: 0.25rem;
    }
    .container__filtros_card{
        margin: 1rem 0;
    }
    .card {
        flex: 1 1 14rem;
  max-width: 12rem;
  max-height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px #020202;
  border-radius: 20px;
  border: 0;
  margin: 1.5rem;
  }
  .img-card {
    max-height: 30%;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }
}