img {
    border-radius: 50%;
    width: 65px;
}

.destaques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.destaques li {
    list-style-type: none;
}

.produtos {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-cerva {
    width: 100px;
    height: 100px;
}